#!/usr/bin/env python
PACKAGE = "simple_node"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("takeoff", bool_t,   0, "A Boolean parameter",  False)
gen.add("land", bool_t, 0, "A Boolean parameter", False)
gen.add("toggle_cam", bool_t, 0, "A Boolean parameter", False)
gen.add("cont_bot", bool_t, 0, "A Boolean parameter", False)
gen.add("cont_front", bool_t, 0, "A Boolean parameter", False)

gen.add("kp", double_t, 0, "A double parameter",   0.5, 0,   10)
gen.add("ki", double_t, 0, "A double parameter",   0, 0,   10)
gen.add("kd", double_t, 0, "A double parameter",   0, 0,   10)


gen.add("x_ref", double_t, 0, "A double parameter",   0, 0,   1)
gen.add("y_ref", double_t, 0, "A double parameter",   0, 0,   1)
gen.add("z_ref", double_t, 0, "A double parameter",   1, 0,   10)





exit(gen.generate(PACKAGE, "simple_node", "dynparams"))
